<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="o-princip">
  <app-heroes-banner></app-heroes-banner>
  <div class="o-main-contain">
    <div class="o-message">
      <div class="o-message-titles">
        <p class="o-m-title">Loren Ipsum. Dolor</p>
        <p class="h2 o-m-title-enp">IP loren ip.</p>
      </div>
      <p class="o-m-text">
        Loren ipsum dolor sit amet, consectetur adipiscing elit. Sed sed
        fringilla nisi. Suspendisse vel nulla non ipsum volutpat fermentum et a
        velit. Nullam nunc massa, ultrices sed purus viverra, congue tristique
        diam
      </p>
      <img src=".././/assets/svg/X.svg" width="13px" alt="" />
    </div>
    <p class="h1 o-main-title">Super Heroes anteriores</p>
  </div>
  <div class="o-card-deck">
    <div *ngFor="let heroe of heroes">
      <app-heroes-card [name]="heroe.name" [src]="heroe.src"></app-heroes-card>
    </div>
  </div>

  <hr class="o-separator" />
  <div class="o-footer">
    <div class="o-contact">
      <p>Terminos y condiciones</p>
      <p>Politica de tratamiento de datos</p>
      <p>Contactenos</p>
    </div>
    <div class="o-social">
      <p>Siguenos</p>
      <img src="../assets/svg/facebook.svg" width="25px" alt="" />
      <img src="../assets/svg/twitter.svg" width="25px" alt="" />
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
