<nav class="navbar navbar-expand-lg o-navbar">
  <a class="navbar-brand o-brand" href="#">
    <img src="../../assets/img/logo.png" width="200" alt="" />
  </a>

  <div id="navbarNav">
    <ul class="navbar-nav o-nav-items">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Heroes Anteriores <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">¿Cómo Funciona?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Iniciar sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
          <img src="../../assets/svg/search.svg" alt="" />
        </a>
      </li>
    </ul>
  </div>
</nav>
