/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans JP',
    sans-serif;
  // margin: 0rem 15%;
}

.o-button {
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  color: white;
  padding: 0.6rem 3rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}
